/* div {
    border: solid .5px magenta;
} */

p {
  font-family: var(--Rubik);
  font-weight: 300;
  font-size: 0.95rem;
  line-height: 120%;
}

.name {
  font-weight: 500;
  font-size: 1rem;
}

#dashNav {
  font-family: var(--Rubik);
  background-color: lightgray;
  /* border-radius: 6px; */
  -webkit-transform: translateX(15px);
}

.status {
  background-color: var(--dark-green);
  text-align: center;
  padding: 8px 8px 8px 8px;
  /* color: var(--lime-green); */
  color: white;
  font-family: var(--Rubik);
  font-weight: 400;
  /* border-radius: 6px; */
  -webkit-transform: translateX(-15px);
  border-left: solid 4px white;
}

.icon {
  /* -webkit-transform: translateX(-15px); */
  font-size: 1.5rem;
  text-justify: center;
}

.resident-row {
  margin-top: 12px;
  border-bottom: solid lightgray 0.5px;
  padding-bottom: 12px;
}

.name {
  font-weight: 500;
}

.nav-item {
  border-right: solid white;
}

.titleIcon {
  font-size: 2.5rem;
  color: var(--dark-green) !important;
}

#cardHeader {
  color: white;
  font-family: var(--Rubik);
  font-weight: 300;
  font-size: 1.25rem;
  background: var(--secondary);
}
.thead {
  font-family: var(--Rubik);
  font-weight: 500;
  font-size: 1rem;
}
td .icon {
  margin-top: 1rem;
}